/* latin */
@font-face {
  font-family: "Gloria Hallelujah";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local("Gloria Hallelujah"), local("GloriaHallelujah"),
    url(https://fonts.gstatic.com/s/gloriahallelujah/v11/LYjYdHv3kUk9BMV96EIswT9DIbW-MIS11zM.woff2)
      format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
    U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215,
    U+FEFF, U+FFFD;
}

/* latin */
@font-face {
  font-family: "Jaldi";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local("Jaldi"), local("Jaldi-Regular"),
    url(https://fonts.gstatic.com/s/jaldi/v6/or3sQ67z0_CI33NTbJE.woff2)
      format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
    U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215,
    U+FEFF, U+FFFD;
}

/* latin */
@font-face {
  font-family: "Port Lligat Sans";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local("Port Lligat Sans"), local("PortLligatSans-Regular"),
    url(https://fonts.gstatic.com/s/portlligatsans/v8/kmKmZrYrGBbdN1aV7Vokow6Lw4s4p7R-Tg.woff2)
      format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
    U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215,
    U+FEFF, U+FFFD;
}

/* latin */
@font-face {
  font-family: "Karla";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local("Karla"), local("Karla-Regular"),
    url(https://fonts.gstatic.com/s/karla/v13/qkBbXvYC6trAT7RVLtw.woff2)
      format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
    U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215,
    U+FEFF, U+FFFD;
}

html {
  width: 100%;
  height: 100%;
}

body {
  margin: 0;
  position: relative;
  width: 100%;
  height: 100%;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: linear-gradient(to left, #ebf7f3fa, #ffffff);
  background-size: cover;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.form-control {
  display: inline-block;
  width: 10%;
  min-width: 120px;
  max-width: 40%;
  padding: 0.375rem 0.4rem;
  margin-left: 5rem;
  margin-right: 1rem;
  margin-top: 0.3rem;
  font-size: 1rem;
  line-height: 1.5;
  color: #212529;
  background-color: solid transparent;
  border: solid transparent;
  border-width: 1px 0;
}

.card-title {
  font-family: "Port Lligat Sans", sans-serif;
}

.col-sm button {
  margin-left: auto;
  text-align: center;
  margin-top: 2%;
  padding-top: 2%;
  float: center;
}

.navbar {
  position: relative;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: 0.5rem 1rem;
  background-color: #8ebcc7be;
}

.separador {
  width: 100%;
  height: 50px;
}

.logo2 {
  font-family: "Gloria Hallelujah", cursive;
  display: inline-block;
  margin-top: 0.3%;
}

.logo {
  margin-bottom: 0.1%;
}

.futer {
  background-color: #8ebcc7be;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 50px;
  min-height: 7%;
  margin-top: 7px;
  text-align: right;
}

.futer span {
  position: relative;
  top: 0.6em;
  color: rgb(94, 91, 91);
}

.futer span {
  margin-right: 1%;
  padding-top: 10px;
}

.descripcion {
  font-family: "Karla", sans-serif;
}

.container2 {
  flex-direction: row;
  width: 100%;
}

.card {
  width: 18rem;
  background-color: #beab9efa;
  max-height: 580px;
  min-height: 570px;
  margin-bottom: 20px;
  border-radius: 50px;
}

.card2 {
  width: 60%;
  background-color: #8ebcc7be;
  border-radius: 50px;
  margin: 0 auto;
}

.card2 h1 {
  font-family: "Port Lligat Sans", sans-serif;
}

.card-header {
  border-radius: 50px;
  background-color: #ffffff00;
}

.card-img-top {
  min-width: 287px;
  max-width: 287px;
  min-height: 423px;
  max-height: 423px;
}

.card-body2 {
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  min-height: 1px;
  padding: 1.25rem;
}

.card {
  background-color: rgb(152, 158, 146);
  border-radius: 50px;
}

.img-container {
  background-color: #000000;
}

.img-container img {
  border-radius: 25px;
}

@media screen and (max-width: 1080px) {
  .img-container img {
    width: 200px;
  }
}

@media screen and (max-width: 900px) {
  .row {
    justify-content: flex-start;
    align-content: center;
    flex-wrap: wrap;
    margin: 0 1.4em;
  }
}

blockquote h1,
h4 {
  text-shadow: 2px 2px 5px rgb(61, 61, 61);
  color: rgb(255, 255, 255);
}

blockquote p {
  font-style: italic;
}

.card-header2 h3 {
  text-shadow: 2px 2px 5px rgb(61, 61, 61);
  color: rgb(255, 255, 255);
}

.about h2 {
  text-shadow: 2px 2px 5px rgb(61, 61, 61);
  color: rgb(255, 255, 255);
}

.btn-primary {
  background-color: #3d77b4;
}

.btn-searchbox {
  color: #fff;
  background-color: #3d77b4;
  border-color: #74a9e2;
}

.btn-searchbox:hover {
  color: #fff;
  background-color: #456ffc;
}
